{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Formulaire</h1>
    <br>
    <form method="post">
        <input type="text" name="Astre">
        <input type="submit">
    </form>

{% endblock %}

