{% extends 'base.html.twig' %}

{% block title %}
Création de produit
{% endblock %}

{% block body %}
    <div class="mt-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Valider la création du produit">
        {{ form_end(form) }}
    </div>

{% endblock %}



