{% extends 'base.html.twig' %}

{% block title %}Nouveau tag{% endblock %}

{% block body %}
    <h1>Créer un nouveau tag</h1>

    {{ form_start(TagForm) }}
        {{ form_widget(TagForm) }}
        <input type="submit" class="btn btn-success" value="Créer un nouveau tag">
    {{ form_end(TagForm) }}
{% endblock %}
